@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');  /* Añade la fuente Anton desde Google Fonts */



/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                                                  Header de la página                                          */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

header { 
  display: flex; 
  justify-content: space-between;
  padding: 20px 10px;
  align-items: center;
}

/* Estilo para el menú de navegación */
.linkMenu {
  text-decoration: none;
  color: black;
  padding: 20px;
  font-family: "Anton", sans-serif; /* Fuente específica requerida por el taller*/
  font-size: 22px; /* Tamaño específico */
}   

a:hover {
  color: rgb(138, 3, 3);
}
hr {
  border: none;
  border-top: 2px solid rgb(0, 0, 0); 
  margin: 0;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                                               Materialo de intereses                                          */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


#contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 0px;
    flex: 1;
}

h2{
  font-family: "Anton", sans-serif; /* Fuente específica requerida por el taller*/
  font-size: 50px; 
  color: rgb(0, 0, 0); /* Color azul oscuro de fondo de la cabecera como pide el taller*/
  text-align: center;
  margin-bottom: 10px;
  text-decoration: underline;
  text-decoration-color: #00c3ff; /* Subraya el texto con el color azul claro como indica el taller */
}

.vitrina {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  flex-direction: row;
  padding: 40px;
}
.imagen{
  height: 250px;
}

.video{
  width: 800px;
  height: 550px;

}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                                               Footer                                                          */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-top: auto; /* Empuja el footer al fondo */
  position: relative;
}


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
/*                                               general                                                          */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/* para quitar margenes generadas por defecto */
html,
body {
  border: rgb(0, 0, 0) 0px solid;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
}


